<router-outlet></router-outlet>


<!-- ESEMPI -->



<!-- Angular Version -->
<app-bi-header></app-bi-header>

<!-- Default Bootstrap Italia Version -->
<!-- <app-bi-header-default></app-bi-header-default> -->



<div class="container my-5">

    <div class="my-5">
        <h3 class="my-5">Esempio form Bootstrap Italia</h3>
        <app-bi-form-example></app-bi-form-example>
    </div>


    <div class="my-5">
        <h3 class="my-5">Esempi Ng Bootstrap</h3>
        <app-ngbt-showcase></app-ngbt-showcase>
    </div>



</div>